.submenu-table.q-menu {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  box-shadow: none;
}

.submenu-status.q-menu {
  border-radius: 12px;
  border: 1px solid #eaeaea;
  box-shadow: none;
}

.submenu-teamsales.q-menu {
  border-radius: 16px;
  border: 1px solid #eaeaea;
  box-shadow: none;
}