::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #BECADC;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a6b0c0;
}