.sidebar {
  display: grid;
  grid-template-rows: 104px auto;
  height: 100%;
  width: 100%;
}
.q-item__section--side.sidebardown {
  padding-left: 0 !important;
}
.q-drawer--mini .q-item__section.sidebardown {
  display: none;
}
.q-drawer-container:not(.q-drawer--mini-animate)
  .q-drawer--mini
  .q-item__section.sidebarmenu {
  display: flex;
}
.q-drawer-container:not(.q-drawer--mini-animate)
  .q-drawer--mini
  .q-item__section.sidebarmenu
  .q-item__label {
  display: flex;
  padding: 8px;
}
.q-drawer--mini .expansion-menu .q-expansion-item__content {
  display: inline;
}