.tx-body-1{
  font-size: 18px;
  line-height: 28px;
}

.tx-body-2{
  font-size: 16px;
  line-height: 24px;
}

.tx-body-3{
  font-size: 14px;
  line-height: 20px;
}


.tx-title-1{
  font-size: 28px;
  line-height: 42px; /* 145.455% */
}

.tx-title-2{
  font-size: 24px;
  line-height: 36px; /* 145.455% */
}

.tx-title-3{
  font-size: 22px;
  line-height: 32px; /* 145.455% */
}

.tx-title-4{
  font-size: 20px;
  line-height: 30px; /* 145.455% */
}

.tx-caption-1{
  font-size: 12px;
  line-height: 18px; /* 150% */
}